.transaction_history {
  margin-top: 30px;
  margin-bottom: 30px;
  border-collapse: collapse;
  border-radius: 6px;
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.29);
  -webkit-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.29);

}
.head_table {
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 24px;
  background-color: #fff;
  border-spacing: 50px 15px;
  border-right: 1px solid #b1c7e0
}
.table_body {
  composes: head_table;
  font-weight: 600;
  font-size: 18px;
  background-color: #cbdff5;
}
.table {
  padding: 10px 30px;
  margin: 0 auto;
  text-align: center;
    border-right: 1px solid #b1c7e0
}
